<div class="container">
  <div class="footer">
    <div class="social-links">
      <div class="link">
        <img src="../../assets/images/footer/linkedin.svg" alt="linkedin">
      </div>
      <div class="link">
        <img src="../../assets/images/footer/facebook.svg" alt="facebook">
      </div>
    </div>
    <div class="categories">
      <div class="category">
        <h3 class="label">טבלאות שכר פופולריות</h3>
        <div class="items">
          <a href="" class="item">טבלאות שכר</a>
          <a href="" class="item">טבלאות שכר תוכנה</a>
          <a href="" class="item">טבלאות שכר שיווק</a>
          <a href="" class="item">טבלאות שכר אינטרנט</a>
          <a href="" class="item">טבלאות שכר חומרה</a>
          <a href="" class="item">טבלאות שכר ביומד</a>
        </div>
      </div>
      <div id="secondCategory" class="category">
        <h3 class="label">דרושים הייטק</h3>
        <div class="items">
          <a href="" class="item">דרושים הייטק</a>
          <a href="" class="item">משרות הייטק</a>
          <a href="" class="item">דרושים בכירים</a>
          <a href="" class="item">פורום עבודה בהייטק</a>
          <a href="" class="item">דרושים תוכנה</a>
          <a href="" class="item">דרושים אינטרנט</a>
          <a href="" class="item">דרושים חומרה</a>
          <a href="" class="item">דרושים תשתיות</a>
        </div>
      </div>
      <div class="category">
        <h3 class="label">מידע חשוב</h3>
        <div class="items">
          <a href="" class="item">חברת השמה</a>
          <a href="" class="item">חברות השמה הייטק</a>
          <a href="" class="item">הכנה לראיון עבודה</a>
          <a href="" class="item">חברות הייטק</a>
          <a href="" class="item">השמת בכירים</a>
          <a href="" class="item">אודותינו</a>
          <a href="" class="item">צור קשר</a>
          <a href="" class="item">מידע למועמד</a>
        </div>
      </div>
    </div>
    <div class="credits">
      <div class="items">
        <a href="" class="item">
          <img src="https://www.jobinfo.co.il/Portals/0/images/ask_pavel.png" alt="חברת קידום אתרים">
        </a>
        <a href="" class="item">
          <img src="https://www.jobinfo.co.il/Portals/0/images/amanUIdesign.png" alt="Aman UI & Design">
        </a>
      </div>
    </div>
  </div>
</div>
