<div class="personal-appeal-container">
  <div class="title-box">
    <div class="title">
      <span class="text">פנייה אישית</span>
      <span class="plus-sign">
        <img src="../../../../assets/images/plus-blue-fat.svg" alt="plus" />
      </span>
    </div>
  </div>
  <div class="arrow-container">
    <div class="arrow-box">
      <div class="arrow"></div>
    </div>
  </div>
  <div class="cover">
    <img
      src="https://www.jobinfo.co.il/Portals/_default/Skins/Jobinfo-2016Design/images/personalBox_bg.jpg"
      alt="cover image"
    />
  </div>
  <div class="content">
    <ul class="content__items">
      <li class="content__item"><a href="">מתכנתים ומהנדסי תוכנה</a></li>
      <li class="content__item"><a href="">מהנדסי חומרה ומכונות</a></li>
      <li class="content__item"><a href="">יוצאי יחידות טכנולוגיות</a></li>
      <li class="content__item"><a href="">דרושים הייטק</a></li>
      <li class="content__item"><a href="">ביוטק ביומד קלינטק</a></li>
    </ul>
  </div>
</div>
