.container {
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: -4px;

  .employers-registration {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: calc(350px + 4rem);
    padding: 2rem 20px 1.8rem 0;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .banners {
      min-width: 700px;
      max-width: 700px;
      height: 100%;
      background-size: 100% 100%;
      background-position: 27% 41%;
      background-repeat: no-repeat;
      background-origin: padding-box;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .registration-form-container {
      min-width: 380px;
      max-width: 380px;
      height: 100%;
      background-image: url("https://d2ichgn6omvugs.cloudfront.net/images/19762365/JobInfo_Banner_Tofes_%20fidbek_July2020-1%20copy.jpg");
      display: flex;
      justify-content: center;

      .registration-form {
        position: absolute;
        top: 10.1rem;
        height: 210px;
        width: 274px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        input {
          background-color: transparent;
          height: 30px;
          border: 1px solid #fff;
          color: #fff;
          text-indent: 0.3rem;
          font-family: "Verdana", sans-serif;
          font-size: 18px;

          &:focus {
            outline: none;
          }
        }

        button {
          height: 30px;
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:hover,
          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      padding-right: 0;
      justify-content: center;

      .banners {
        display: flex;
        justify-content: center;
      }
    }
  }
}
