.linkedin {
  padding: 0 4rem 4rem 0;
  background-color: #e8e8e8;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;

  .follow-box {
    position: absolute;
    background-color: #006097;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transform: translate(-4.3rem, 6.5rem);
    -webkit-transform: translate(-4.3rem, 6.5rem);
    -moz-transform: translate(-4.3rem, 6.5rem);
    -ms-transform: translate(-4.3rem, 6.5rem);
    -o-transform: translate(-4.3rem, 6.5rem);

    .in {
      display: inline-block;
      border-right: 1px solid #fff;
      color: #fff;
      padding: 2px 5px;
      font-size: 12px;
      font-weight: 700;
    }

    .follow-button {
      display: inline-block;
      padding: 2px 4px 0 8px;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .followers-count {
      display: block;
      background-color: #fff;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-top: 0;
      border-radius: inherit;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      -ms-border-radius: inherit;
      -o-border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-size: 14px;
      color: rgba(#000, 0.6);
      padding: 0px 8px 1px 8px;
    }
  }

  .share-button {
    position: absolute;
    height: 20px;
    background-color: #0073b1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transform: translate(-4.7rem, -1.8rem);
    -webkit-transform: translate(-4.7rem, -1.8rem);
    -moz-transform: translate(-4.7rem, -1.8rem);
    -ms-transform: translate(-4.7rem, -1.8rem);
    -o-transform: translate(-4.7rem, -1.8rem);

    &:hover,
    &:active {
      background-color: #006196;
    }

    &:active {
      border: 1px solid #fff;
    }

    .text {
      color: #fff;
      font-size: 12px;
      padding-right: 2px;
    }

    img {
      width: 16px;
    }
  }

  @media (min-width: 1024px) {
    position: relative;
    padding-top: 32px;
    padding-right: 0;
    margin-right: 34px;
  }
}
