<div class="candidates-info">
  <div class="title-box">
    <div class="title">
      <span class="text"> מידע למועמדים </span>
    </div>
  </div>
  <div class="content">
    <div class="arrow-container">
      <span class="arrow"></span>
    </div>
    <ul class="content__items">
      <li class="content__item"><a href="">חברות הייטק</a></li>
      <li class="content__item"><a href="">מגמות שוק</a></li>
      <li class="content__item"><a href="">פודקאסטים</a></li>
      <li class="content__item"><a href="">פורום קריירה</a></li>
      <li class="content__item"><a href="">פורום דיני עבודה</a></li>
    </ul>
  </div>
</div>
