.intro {
  width: 100vw;
  height: calc(100vw * 0.619);
  background-image: url("https://www.jobinfo.co.il/Portals/_default/Skins/Jobinfo-2016Design/images/bgphoto1_mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .triangle {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 0;
    border: 21.3vw solid #fb8e0f;
    border-right-color: transparent;
    border-bottom-color: transparent;
    opacity: 0.77;
  }

  .highlight-bar {
    position: absolute;
    top: 4rem;
    width: 0.2rem;
    height: 14vw * 0.8;
    background-color: #fb8e0f;
    margin-left: 5px;
    margin-right: 0.5rem;
  }

  .jobs-waiting {
    position: absolute;
    top: 3.5rem;
    right: 0.16rem;
    color: #202a68;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jobs-waiting__count {
      font-family: "Roboto", sans-serif;
      font-size: 14vw;
      line-height: 1;
      padding-right: 2.5px;
    }

    .jobs-waiting__message {
      margin-right: 0.3rem;
      padding-right: 5px;
      font-size: 4vw;
      line-height: 1;
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.to-top {
  display: none;
  @media (max-width: 1023px) {
    display: initial;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 42px;
    height: 42px;
    background-color: #e8e8e8;
    opacity: 0;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 12px 13px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -ms-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;

    &.show {
      opacity: 0.7;
    }

    .icon {
      width: 14px;
      height: 16px;
    }
  }
}
